<h1>Editing Book</h1>

<div>
  <%= render 'books/form', book: @book %>
</div>

<%= link_to 'Show', book_path(@book.id), class: "show_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>
